

.discourse-embedding header {
	padding: 2rem 0;

}

.discourse-embedding .button {
  transition: all .2s;
  outline:none;
  padding: 5px 10px;
  color: white;
  background:rgb(18, 21, 33);
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}
